{% for prod in add_on_products %}
{% assign prod_handle = prod | strip %}
{% assign add_on = all_products[prod_handle] %}
{% if add_on.available %}
{% assign add_on_index = forloop.index %}

<div class="add-on-product add-on-product--{{ prod }}">
  <span class="add-item-section__toggle add-item-section__toggle--add-on add-item-section__toggle--{{ add_on.handle }}">
    <svg class="" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M400 32H48C21.5 32 0 53.5 0 80v352c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V80c0-26.5-21.5-48-48-48zm-6 400H54c-3.3 0-6-2.7-6-6V86c0-3.3 2.7-6 6-6h340c3.3 0 6 2.7 6 6v340c0 3.3-2.7 6-6 6z"/></svg>    
    <svg class="hidden" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M400 32H48C21.49 32 0 53.49 0 80v352c0 26.51 21.49 48 48 48h352c26.51 0 48-21.49 48-48V80c0-26.51-21.49-48-48-48zm0 400H48V80h352v352zm-35.864-241.724L191.547 361.48c-4.705 4.667-12.303 4.637-16.97-.068l-90.781-91.516c-4.667-4.705-4.637-12.303.069-16.971l22.719-22.536c4.705-4.667 12.303-4.637 16.97.069l59.792 60.277 141.352-140.216c4.705-4.667 12.303-4.637 16.97.068l22.536 22.718c4.667 4.706 4.637 12.304-.068 16.971z"/></svg>
  </span>
  <div class="add-on-product-img"><img src="{{ add_on.featured_image | product_img_url:'100x' }}" alt="{{ add_on.title }}"/></div>
  <div class="add-on-product-header">
    <h4>{{ add_on.title }}</h4>
    <div id="add-on-item-section-{{ add_on_index }}" class="add-item-section add-item-section--{{ add_on.handle }} add-on-item-section">
      {% assign variant = add_on.selected_or_first_available_variant %}
      {% assign featured_image = add_on.selected_or_first_available_variant.featured_image | default: add_on.featured_image %}
      {% for option in add_on.options_with_values %}
      {% assign option_index = forloop.index %}
      <div class="add-on-option-row add-on-option-row--{{ option.values.size }}">
        <label class="add-on-item-label" for="add-on-single-option-select-{{ add_on_index }}-{{ option_index }}">{{ option.name }}</label>
        <div class="form__field form__field--select">
          <select id="add-on-single-option-select-{{ add_on_index }}-{{ option_index }}" data-index="option{{ option_index }}" class="add-on-single-option-select--{{ option.name | downcase }} add-on-single-option-select">
            {% for value in option.values %}
            <option value="{{ value | escape }}">{{ value }}</option>
            {% endfor %}
          </select>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path d="M143 352.3L7 216.3c-9.4-9.4-9.4-24.6 0-33.9l22.6-22.6c9.4-9.4 24.6-9.4 33.9 0l96.4 96.4 96.4-96.4c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9l-136 136c-9.2 9.4-24.4 9.4-33.8 0z"/></svg>
        </div>
      </div>
      {% endfor %}
      {% if add_on.variants.size <= 1 %}
        <input name="addOn-{{ add_on_index }}" id="product-select-add-on-{{ add_on_index }}" type="hidden" value="{{ add_on.variants.first.id }}" />
      {% else %}
        <select name="addOn-{{ add_on_index }}" id="product-select-add-on-{{ add_on_index }}" style="display: none;">
          {% for variant in add_on.variants %}
          {% if variant.available %}
          <option value="{{ variant.id }}">{{ variant.title }}</option>
          {% else %}
          <option disabled="disabled">{{ variant.title }} - Sold Out</option>
          {% endif %}
          {% endfor %}
        </select>
      {% endif %}
      <script>
        document.addEventListener('REBASE:bindProductControls', function(){
          (function($) {
            var add_on_product = {
              variants: {{ add_on.variants | json }}
            },
            options = {
              $container: $('#add-on-item-section-{{ add_on_index }}'),
              enable_history_state: false,
              single_option_selector: '.add-on-single-option-select',
              original_select_id: '#product-select-add-on-{{ add_on_index }}',
              product: add_on_product
            },
            add_on_product_variants;
            add_on_product_variants = new REBASE.theme.Variants(options);
            options.$container.on('variantChange', function(e) {
              e.preventDefault();
              e.stopPropagation();
              // console.log('variant change', e);
            });
            options.$container.on('variantImageChange', function(e) {
              e.preventDefault();
              e.stopPropagation();
              var img = e.variant.featured_image.src,
                  THUMB_SIZE = 60,
                  device_pixel_ratio = window.devicePixelRatio || 1;
              if (img) {
                $('.add-on-product-img img', $(this).parent()).attr("src", REBASE.theme.appendToFilename(img, '_' + THUMB_SIZE * device_pixel_ratio + 'x'));
              }
              // console.log('image change', e);
            });
            options.$container.on('variantPriceChange', function(e) {
              // console.log('price change', e);
              e.preventDefault();
              e.stopPropagation();
              $('.add-on-product__price', $(this).parent()).text(Shopify.formatMoney(e.variant.price, Shopify.money_format).replace('.00', ''));
              options.$container.data('addOnPrice', e.variant.price);
              options.$container.data('addOnComparePrice', e.variant.compare_at_price);
              if (typeof calculateAdd_onPrice === 'function') {
                calculateAdd_onPrice();
              }
            });
            options.$container.on('variantSKUChange', function(e) {
              e.preventDefault();
              e.stopPropagation();
              // console.log('sku change', e);
            });
            // fire change on load
            $('#add-on-single-option-select-{{ add_on_index }}-1').trigger('change');
          })(jQuery);
        });
      </script>
    </div>
  </div>
  <div class="add-on-product__price">{{ add_on.price | money_without_trailing_zeros }}</div>
</div>
{% endif %}
{% endfor %}
<script>
  document.addEventListener('DOMContentLoaded', function() {
    (function($) {
      window.calculateAddOnPrice = function() {
        var price = 0,
            compare_price = 0;

        // NOTE: only paying attention to active sections!
        $('.add-on-product--selected .add-on-item-section').each(function() {
          price += $(this).data('addOnPrice');
          compare_price += $(this).data('addOnComparePrice');
          console.log($(this).data('addOnPrice'), price);
          console.log($(this).data('addOnComparePrice'), compare_price);
        });

        if (price > 0) {
          $('#add-on-price').text(Shopify.formatMoney(price, Shopify.money_format).replace('.00', ''));
          // $('#add-on-compare-price').text(Shopify.formatMoney(compare_price, Shopify.money_format).replace('.00',''));
          $('#add-on-info').show();
        } else {
          // $('#add-on-price, #add-on-compare-price').text('');
          $('#add-on-price').text('');
          $('#add-on-info').hide();
        }
      };
    })(jQuery);
  });
</script>
