{% assign form_class = product.type | handleize %}

{% form 'product', product, id: 'add-to-cart-form', class: form_class, data-productid: product.id, data-cart-submit: true %}
  {% if section.settings.all_flavors_sold_out %}
    <div class="product-sold-out-text">
      {{ section.settings.all_flavors_sold_out_text }}
    </div>
    <button class="btn btn--block" disabled>Sold Out</button>
  {% else %}
    <div class="product-option-row product-option-row--bundle">
      <div class="option-name">{{ section.settings.bundle_label }}</div>
      <div class="product-options product-options--bundles">
        {% for block in section.blocks %}
          {% if block.type == 'bundle' %}
            <div class="product-option product-option--bundle{% if block.settings.default == true %} product-option--selected{% endif %}{% if block.settings.sold_out %} product-option--sold-out{% endif %}">
              <div class="product-option__wrapper">
                <input type="radio" name="single-option-select-bundle" id="swatch-1-{{ block.settings.value }}" value="{{ block.settings.value }}" class="single-option-select visually-hidden" data-type="bundle" data-flavor-limit="{{ block.settings.flavor_limit }}"{% if block.settings.default == true %} checked{% endif %}{% if block.settings.sold_out %} disabled{% endif %} />
                <label for="swatch-1-{{ block.settings.value }}" class="product-option__label">
                  {{ block.settings.title }}
                  <span class="product-option__label-icon"></span>
                </label>
              </div>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>

  <div class="product-option-row product-option-row--flavor">
    <div class="option-name">{{ section.settings.flavor_label }}</div>
    <div class="product-options product-options--flavors">
      {% for block in section.blocks %}
        {% if block.type == 'flavor' %}
          <div class="product-option product-option--flavor{% if block.settings.sold_out %} product-option--sold-out{% endif %}">
            <div class="product-option__wrapper">
              <!-- {{ block.settings.sold_out}}-->
              <input type="checkbox" name="single-option-select-flavor" id="swatch-2-{{ block.settings.title | handle }}" value="{{ block.settings.title }}" class="single-option-select visually-hidden" data-type="flavor"{% if block.settings.sold_out %} disabled{% endif %} />
              <label for="swatch-2-{{ block.settings.title | handle }}" class="product-option__label product-option__label--swatch">
                <div class="product-option__swatch">
                  <img class="lazy" data-src="{{ block.settings.swatch_image | img_url: '200x200', crop: 'center' }}" alt="{{ block.settings.title }}" />
                  <span class="product-option__swatch-selected"></span>
                </div>
                <span class="product-option__title">
                  {{ block.settings.title }}
                </span>
                {% if block.settings.new %}
                  <span class="product-option__new-flag">Brand New</span>
                {% endif %}
              </label>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>

  {% comment %} Main variant drop down (hidden) {% endcomment %}
  {% if product.variants.size <= 1 %}
    <input name="id" id="product-select" type="hidden" value="{{ product.variants.first.id }}" data-productid="{{product.id}}" />
  {% else %}
    <select name="id" id="product-select" data-productid="{{product.id}}">
      {% for variant in product.variants %}
        {% if variant.available %}
          <option {% if variant == current_variant %} selected="selected" {% endif %} value="{{ variant.id }}">{{ variant.title }}</option>
        {% else %}
          <option disabled="disabled">{{ variant.title }} - Sold Out</option>
        {% endif %}
      {% endfor %}
    </select>
  {% endif %}

  {% if product.available %}
    <div class="product-option-row product-option-row--bundle">
      {% if is_alternate_template == true %}
        {% include 'subscription-product-alternate' %}
      {% else %}
        {% include 'subscription-product' %}
      {% endif %}
    </div>
  {% endif %}

  {% if is_free_gift_template %}
  <div class="product-option-row product-option-row--free-gift">
    <input type="checkbox" name="properties[free_gift]" value="true" checked />
    <label for="properties[free_gift]">Get My Free Mystery Gift (Today Only)</label>
  </div>
  {% endif %}

  <div class="product-action{% if is_alternate_template %} product-action--alternate{% endif %}">
    {% comment %}We're not letting them edit quantity here, but we still need to send 1 to the form{% endcomment %}
    <input type="hidden" name="quantity" value="1" />
    {% if product.tags contains 'SkipCart' %}
    <input type="hidden" name="properties[skip_cart]" value="true" />
    {% endif %}
      <button name="add" id="add-to-cart" type="submit" class="btn btn--block">
        {% assign add_to_cart_text = section.settings.add_to_cart_text %}
        <span id="add-to-cart-text" class="minicart-add-to-cart-text" data-sold-out-text="Sold Out" data-add-to-cart-text="{{ add_to_cart_text }}">{{ add_to_cart_text }}</span>

        {% if is_alternate_template %}
          - <span id="rc_price_autodeliver" class="rc_price rc_price__autodeliver" aria-label="recurring price"></span> {% include 'icon', handle: 'arrow-right' %}
        {% endif %}
      </button>
     
    </div>
  {% endif %}
{% endform %}

{%- comment -%}

<!-- {{collections}} -->
{% for product in collections['Products'].products %}
<!-- {{product.title}} -->
{% if product.sku == "SYS-MYSTERY-1" %}
{% endif %}
{% endfor %}
{% if is_free_gift_template and product_type == "puffs" %}
<script type="text/javascript" id="free_gift__json">
  var free_gift_id = 0;
  document.addEventListener('DOMContentLoaded', function () {
    $.getJSON('/products/mystery-gift.js', function(product) {
      console.log(product);
      free_gift_id = product.variants[0].id;
    } );
  });
</script>
{% endif %}
{%- endcomment -%}