<!DOCTYPE html>
<html lang="{{ locale }}" dir="{{ direction }}" class="{{ checkout_html_classes }}">
  <head>
    
    <script src="https://browser.sentry-cdn.com/5.15.5/bundle.min.js" integrity="sha384-wF7Jc4ZlWVxe/L8Ji3hOIBeTgo/HwFuaeEfjGmS3EXAG7Y+7Kjjr91gJpJtr+PAT" crossorigin="anonymous"></script>
  <script>
    Sentry.init({ dsn: 'https://067fbef253c043699fd45df44ba57333@o387865.ingest.sentry.io/5223824' });
  </script>
    
        <!-- begin Convert Experiences code-->
<script type="text/javascript" src="//cdn-3.convertexperiments.com/js/10034191-10031931.js"></script>
<!-- end Convert Experiences code -->
    
    {% include 'elevar-head' %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height, minimum-scale=1.0, user-scalable=0">
    <meta name="referrer" content="origin">
    <title>{{ page_title }}</title>  	
    <link rel="stylesheet" href="https://use.typekit.net/lnr8xty.css">
    {{ content_for_header }}
    {{ checkout_stylesheets }}
    {{ 'checkout.scss' | asset_url | stylesheet_tag }}
    <script src="//code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
    <script src="//cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/jquery-countdown@2.2.0/dist/jquery.countdown.min.js"></script>
    {{ checkout_scripts }}
    
    <!-- Taboola Pixel Code -->
    {%- include 'AddTaboolaPixel' -%}
    <!-- End of Taboola Pixel Code -->      
  
    {% comment %}  {% endcomment %}
      
    
    {% comment %} Postscript SDK {% endcomment %}
    <script type="application/javascript" async src="https://sdk.postscript.io/integrations/sdk-min.js"></script> 
    {% comment %} End Postscript SDK {% endcomment %}
    
    
    <script>
      function getCheckoutToggles(f) {
        request = new XMLHttpRequest();
        request.open('GET', '/?section_id=checkout-toggles', true);
        request.onload = f;
        request.send();
      }

      function checkFlashSale() {
        getCheckoutToggles(function(e) {
          var checkoutToggles = e.target.responseText.toString();
          var flashSaleEnabled = checkoutToggles.includes('data-flash-sale-enabled="true"');
          //Flash sale
          if (flashSaleEnabled) {
            var flashSaleCookieName = 'sys_july_2020_flash_sale';
            var flashSaleCookie = Cookies.get(flashSaleCookieName);
            if (flashSaleCookie) {
              var endDate = new Date(flashSaleCookie);
              if (endDate > new Date()) {
                setBannerCountdown(endDate);
              } else {
                //hide banner
                clearBannerCountdown();
              }
            } else {
              var endDate = new Date();
              endDate.setMinutes(endDate.getMinutes() + 10);
              Cookies.set(flashSaleCookieName, endDate);
              setBannerCountdown(endDate);
              // show banner
            }
          } else {
            clearBannerCountdown();
          }
        })
      }
      function setBannerCountdown(endDate) {
        $('.countdown').countdown(endDate, function(event) {
          $(this).html(event.strftime('%M:%S'));
        })
        .on('finish.countdown', function() {
          clearBannerCountdown();
        })
        $('.flash-banner').removeClass('hidden');        
      }

      function clearBannerCountdown() {
        $('.flash-banner').addClass('hidden').html('').hide();
      }

      $(document).ready(function() {
        
        var waitForEl = function(selector, callback) {
          if (jQuery(selector).length) {
            callback();
          } else {
            setTimeout(function() {
              waitForEl(selector, callback);
            }, 100);
          }
      	};
      
        waitForEl('#ps__container', function() {
            var $psContainer = $('#ps__container');
              $psContainer.find('.checkbox__label').html("Text Me A Discount Code For My Next Order*<br>Sign up to the Schoolyard Snacks VIP list and we'll send you early access to flavors and discounts through text");
        });
        checkFlashSale();
        
        if (localStorage.getItem("utmDiscountCode")) {
          $(".flash-banner").css("display", "none");
        }
      });

    </script>
    <style>
      .flash-banner .countdown,
      .flash-banner .discount-code {
        font-weight: 600;
      }
      @media screen and ( max-width: 60em ) {
        .flash-banner.mobile { 
          background-color: rgb(252,236,212);
          font-size: 17px;
          text-align: center;
          font-weight: 500;
          padding: .5rem 3rem;
          color: #24254E;
          line-height: 19px;
          position: fixed;
          z-index: 10;
          width: 100%;
      }
        .flash-banner.desktop { display: none; }
        .flash-banner.mobile:not(.hidden) + .banner {
          margin-top: 54px;
          padding: .5rem 0;
        }
      }
      @media screen and ( min-width: 60em ) {
        .flash-banner.mobile { display: none; }
        .flash-banner.desktop { 
          background-color: rgb(252,236,212);
          font-size: 17px;
          text-align: center;
          font-weight: 500;
          padding: 1rem .5rem;
          color: #24254E;
          line-height: 19px;
          border-radius: 5px;
          margin-top: 20px;
          border: 1px #d9d9d9 solid;
        }
      }
    </style>
  
  {% render 'shogun-head' %}
</head>

  <body>
  
    <!-- Taboola Pixel Code -->
    <script>_tfa.push({notify: 'event', name: 'make_purchase', id: 1238037, revenue: '{{ checkout.total_price | money_without_currency }}'});</script>
    <noscript><img src='//trc.taboola.com/1238037/log/3/unip?en=make_purchase' width='0' height='0' style='display:none'/></noscript>
    <!-- End of Taboola Pixel Code -->

    {{ skip_to_content_link }}

    <div class="flash-banner mobile hidden">
      Flash Sale! Use code <span class='discount-code'>SECRET</span> in next <span class='countdown'></span> (today only!)
    </div>
    <div class="banner" data-header>
      <div class="wrap">
        {{ content_for_logo }}
      </div>
    </div>

    {{ order_summary_toggle }}

    <div class="content" data-content>
      <div class="wrap">
        <div class="main" role="main">
          <div class="main__header">
            {{ content_for_logo }}
            {% comment %} The Vaan Group - Order Bump (1/2) {% endcomment %}
            <div class="flash-banner desktop">
              Flash Sale! Use code <span class='discount-code'>SECRET</span> in next <span class='countdown'></span> (today only!)
            </div>
              <div id="orderbump"></div>
            {% comment %} END OF The Vaan Group - Order Bump (1/2) {% endcomment %}            
            {{ breadcrumb }}
            <div class="express-checkout">
              {{ alternative_payment_methods }}
            </div>
          </div>
          <div class="main__content">
            {{ content_for_layout }}
          </div>
          <div class="main__footer">
            {{ content_for_footer }}
          </div>
        </div>
        <div class="sidebar" role="complementary">
          <div class="sidebar__header">
            {{ content_for_logo }}
          </div>
          <div class="sidebar__content">
            <h2 class="section__title">Order Summary</h2>
            {{ content_for_order_summary }}
          </div>
        </div>
      </div>
    </div>

    {{ tracking_code }}

    {% comment %} The Vaan Group - Order Bump (2/2) {% endcomment %}
      <script src="https://tvg-order-bump.herokuapp.com/storefront/assets/order-bump.js"></script>
    {% comment %} END OF The Vaan Group - Order Bump (2/2) {% endcomment %}      
    
    {% include 'elevar-checkout-end' %}
    
    {% include 'convert-checkout' %}
    
    <script>    
    (function() {
      if(typeof Checkout === 'object'){
        if(typeof Checkout.$ === 'function'){
          var x = document.getElementsByClassName("step")[0];
          if (x.getAttribute("data-step") === "contact_information") {
            // Onload page we triggered click to uncollapse hidden block.
            // Change class to .order-summary-toggle--hide for collapsing block.
            Checkout.$('button.order-summary-toggle.order-summary-toggle--show').trigger("click");
          }
          if (x.getAttribute("data-step") === "shipping_method" || x.getAttribute("data-step") === "payment_method") {            
            Checkout.$('.main__footer').css("display", 'none');
          }          
        }
      }
    })();
    </script>

  </body>
</html>