{% if template contains 'article' and blog.metafields.blogfeeder.use_canonical == 'yes' %}
  {% assign canonical_url = article.metafields.blogfeeder.canonical %}
{% endif %}

<!DOCTYPE html>
<html lang="en">
<head>
    <script>{% include 'civilpixel-loader' %}</script>

  {% render 'google-tag-manager', tag: 'head' %}

  {% include 'head-meta' %}
  {% include 'head-css' %}
  {% include 'head-scripts' %}

  {{ content_for_header }}
  {% include 'judgeme_core' %}

  

  {% render 'shogun-head' %}
</head>

{% comment %}Finding and adding body classes below{% endcomment %}
{% capture bodyClasses %}{{ template | split: '.' | first | remove: '/' | remove: '_' | replace:'404','error-404' }}-template {{ template | handle | replace:'.','-' | replace:'/','-' | replace:'_','-' | replace:'404','error-404' }}-template{% if template contains 'collection' %}{% if collection.image %} has-collection-image{% endif %}{% endif %}{% if customer %} customer-logged-in{% endif %} {{page.handle}} {{product.handle}}{% endcapture %}

<body id="{% if template contains 'gift_card' %}gift-card-id{% else %}{{ page_title | truncatewords: 3 | handle }}-id{% endif %}" class="{{ bodyClasses | split: ' ' | uniq | join: ' ' }}">
  {% render 'google-tag-manager', tag: 'body' %}
  <div class="wrapper">
    {% section 'header' %}
    {{content_for_layout}}
    {% section 'footer' %}
  </div>
  {% section 'cart-drawer' %}
  {% section 'checkout-toggles' %}

  {% include 'footer-scripts' %}
<div class='better-cart-element-better-cart-theme'>{% include 'better-cart-theme' %}</div>
  {% if template contains 'product' %}
<script>
//REPLACE HERE
var atcButtonID = "add-to-cart";

var atcButton = document.getElementById(atcButtonID);
if(atcButton){
	atcButton.addEventListener("click", function(event) {
		var cartValue = {{ product.selected_or_first_available_variant.price }}/100;
                var productId = {{ product.selected_or_first_available_variant.id }};
                var productType = "{{ product.type }}";
                var currency = "{{ shop.currency }}";
                twttr.conversion.trackPid('o4pec', { tw_sale_amount: cartValue, tw_order_quantity: 1 });
	});
}
</script>
{% endif %}
  
  
  </body>
</html>
