{% assign product = all_products[settings.product_id] %}
{% assign current_variant = product.selected_or_first_available_variant %}

<div class="tagline">
	<div class="enclose">
		<h1>{{ section.settings.tag_line }}</h1>
	</div>
</div>

<div class="hero_sec">
	<div class="enclose">
		<div class="inn">
			<div class="pro-slider">
				<div class="pro-items">
                  {% for block in section.blocks %}
                  {% if block.type == 'block-1' %}
					<div class="item"><img src="{{ block.settings.slide_img | img_url : 'master' }}" alt="image"></div>
                  {% endif %}
                  {% endfor %}
				</div>
				<div class="pro-nav">
				  {% for block in section.blocks %}
                  {% if block.type == 'block-1' %}
					<div class="item"><img src="{{ block.settings.slide_img | img_url : 'master' }}" alt="image"></div>
                  {% endif %}
                  {% endfor %}
				</div>
			</div>
			<div class="pro-info">
              <div class="review">{% include 'judgeme_widgets', widget_type: 'judgeme_preview_badge' %} &nbsp; <span class="tbar">|</span> &nbsp; <span class="sold-in-emoji">🔥</span> &nbsp;&nbsp; <!--<span id="sold" class="sold-in-number">...</span>--> <input type='text' id='text1'> &nbsp;sold in the last 22 hours</div>
				<h2>{{ section.settings.heading }}</h2>
				<div class="price">
					<span class="actual">Was ${{ section.settings.price_was }}</span>
					<span class="discount">From ${{ section.settings.price_now }}/bag</span>
					<span class="save">{{ section.settings.save }}</span>
				</div>
				<div class="desc">
					<p>{{ section.settings.list_text }}</p>
					<ul>
                      	{% for block in section.blocks %}
                      		<li>{{ block.settings.list }}</li>
                      	{% endfor %}
					</ul>
				</div>
				<div class="btns">
					<a href="#" class="buybtn big">{{ settings.sales-btn-text2 }} <img src="{{ 'icon-hand.png' | asset_url }}" alt="image"></a>
					<svg width="237" height="27" viewBox="0 0 237 27" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M33.0993 9.6866C33.0628 12.6003 35.665 14.2261 37.6253 15.1929C39.6393 16.1847 40.3158 16.8208 40.3078 17.7078C40.2928 19.0653 38.7013 19.6644 37.212 19.6877C34.6138 19.7284 33.103 18.9777 31.902 18.41L30.966 22.8425C32.171 23.4044 34.4022 23.8945 36.716 23.916C42.1472 23.916 45.7005 21.2027 45.7197 16.9959C45.741 11.6568 38.4228 11.3613 38.4728 8.97488C38.49 8.25127 39.1723 7.47907 40.6673 7.28274C41.4073 7.18356 43.45 7.10765 45.766 8.187L46.675 3.89845C45.4295 3.43948 43.8288 3 41.8358 3C36.7238 3 33.1283 5.75024 33.0993 9.6866V9.6866ZM55.4095 3.3694C54.4178 3.3694 53.582 3.95487 53.209 4.85331L45.4507 23.601H50.878L51.958 20.5803H58.59L59.2165 23.601H64L59.8257 3.3694H55.4095V3.3694ZM56.1688 8.83471L57.735 16.4319H53.4455L56.1688 8.83471V8.83471ZM26.519 3.36965L22.241 23.6007H27.4128L31.6887 3.36915H26.519V3.36965ZM18.8682 3.36915L13.4853 17.1398L11.3077 5.43119C11.0522 4.12413 10.0433 3.3694 8.92275 3.3694H0.12325L0 3.95689C1.8065 4.35362 3.859 4.99348 5.1025 5.67813C5.8635 6.09636 6.0805 6.46197 6.3305 7.4558L10.4548 23.601H15.92L24.299 3.3694H18.8682" fill="url(#paint0_linear)"/>
						<path d="M79.1872 26.3243V24.5733C79.1872 23.902 78.7786 23.4643 78.0781 23.4643C77.7279 23.4643 77.3485 23.581 77.0858 23.9605C76.8816 23.6394 76.5898 23.4643 76.152 23.4643C75.8601 23.4643 75.5684 23.5518 75.3348 23.8729V23.5227H74.7219V26.3243H75.3348V24.7775C75.3348 24.2815 75.5975 24.0479 76.0062 24.0479C76.4146 24.0479 76.619 24.3106 76.619 24.7775V26.3243H77.2319V24.7775C77.2319 24.2815 77.5236 24.0479 77.903 24.0479C78.3117 24.0479 78.5159 24.3106 78.5159 24.7775V26.3243H79.1872V26.3243ZM88.2635 23.5227H87.2713V22.6764H86.6584V23.5227H86.1039V24.0771H86.6583V25.3613C86.6583 26.0034 86.921 26.3827 87.6215 26.3827C87.8842 26.3827 88.1758 26.2952 88.3803 26.1785L88.2051 25.6531C88.03 25.7698 87.8258 25.7991 87.6798 25.7991C87.388 25.7991 87.2713 25.624 87.2713 25.332V24.0771H88.2635V23.5227V23.5227ZM93.4584 23.4642C93.1082 23.4642 92.8747 23.6394 92.7288 23.8729V23.5227H92.1159V26.3243H92.7288V24.7484C92.7288 24.2815 92.933 24.0188 93.3124 24.0188C93.4291 24.0188 93.5751 24.0481 93.6918 24.0772L93.8669 23.4936C93.7502 23.4643 93.5751 23.4643 93.4584 23.4643V23.4642ZM85.6078 23.7561C85.3158 23.5518 84.9073 23.4643 84.4695 23.4643C83.7692 23.4643 83.3023 23.8145 83.3023 24.369C83.3023 24.836 83.6524 25.0986 84.2653 25.1862L84.5571 25.2155C84.8782 25.2737 85.0533 25.3613 85.0533 25.5073C85.0533 25.7115 84.8198 25.8574 84.4111 25.8574C84.0026 25.8574 83.6815 25.7115 83.4772 25.5656L83.1854 26.0325C83.5065 26.266 83.9442 26.3827 84.3819 26.3827C85.1991 26.3827 85.6661 26.0034 85.6661 25.478C85.6661 24.9819 85.2867 24.7192 84.703 24.6317L84.4111 24.6025C84.1484 24.5732 83.9442 24.515 83.9442 24.3399C83.9442 24.1356 84.1484 24.0188 84.4695 24.0188C84.8198 24.0188 85.17 24.1647 85.3451 24.2523L85.6078 23.7561V23.7561ZM101.893 23.4643C101.542 23.4643 101.309 23.6394 101.163 23.8729V23.5227H100.55V26.3243H101.163V24.7484C101.163 24.2815 101.367 24.0188 101.747 24.0188C101.863 24.0188 102.009 24.0481 102.126 24.0772L102.301 23.4936C102.185 23.4643 102.009 23.4643 101.893 23.4643V23.4643ZM94.0712 24.9235C94.0712 25.7698 94.6549 26.3827 95.5597 26.3827C95.9682 26.3827 96.26 26.2952 96.5518 26.0618L96.26 25.5656C96.0266 25.7407 95.7931 25.8282 95.5304 25.8282C95.0343 25.8282 94.6841 25.478 94.6841 24.9235C94.6841 24.3983 95.0343 24.0479 95.5304 24.0188C95.7931 24.0188 96.0266 24.1063 96.26 24.2815L96.5518 23.7854C96.26 23.5518 95.9682 23.4643 95.5597 23.4643C94.6549 23.4643 94.0712 24.0772 94.0712 24.9235ZM99.7331 24.9235V23.5227H99.1202V23.8729C98.9158 23.6103 98.624 23.4643 98.2446 23.4643C97.4567 23.4643 96.8438 24.0772 96.8438 24.9235C96.8438 25.7698 97.4567 26.3827 98.2446 26.3827C98.6532 26.3827 98.9451 26.2369 99.1202 25.9742V26.3243H99.7331V24.9235V24.9235ZM97.4858 24.9235C97.4858 24.4274 97.8068 24.0188 98.3321 24.0188C98.8282 24.0188 99.1785 24.3983 99.1785 24.9235C99.1785 25.4197 98.8282 25.8282 98.3321 25.8282C97.8068 25.7989 97.4858 25.4197 97.4858 24.9235V24.9235ZM90.1606 23.4643C89.3434 23.4643 88.7596 24.0479 88.7596 24.9235C88.7596 25.7991 89.3432 26.3827 90.1897 26.3827C90.5982 26.3827 91.0069 26.266 91.3279 26.0034L91.036 25.5656C90.8025 25.7407 90.5107 25.8574 90.2189 25.8574C89.8395 25.8574 89.4601 25.6824 89.3725 25.1861H91.4447V24.9528C91.4739 24.0479 90.9485 23.4643 90.1604 23.4643H90.1606ZM90.1606 23.9896C90.5399 23.9896 90.8027 24.2232 90.8609 24.6609H89.4017C89.4601 24.2815 89.7228 23.9896 90.1606 23.9896ZM105.366 24.9235V22.4137H104.753V23.8729C104.548 23.6103 104.257 23.4643 103.877 23.4643C103.089 23.4643 102.476 24.0772 102.476 24.9235C102.476 25.7698 103.089 26.3827 103.877 26.3827C104.286 26.3827 104.578 26.2369 104.753 25.9742V26.3243H105.366V24.9235V24.9235ZM103.118 24.9235C103.118 24.4274 103.439 24.0188 103.965 24.0188C104.461 24.0188 104.811 24.3983 104.811 24.9235C104.811 25.4197 104.461 25.8282 103.965 25.8282C103.439 25.7989 103.118 25.4197 103.118 24.9235V24.9235ZM82.6309 24.9235V23.5227H82.018V23.8729C81.8137 23.6103 81.5219 23.4643 81.1424 23.4643C80.3545 23.4643 79.7416 24.0772 79.7416 24.9235C79.7416 25.7698 80.3545 26.3827 81.1424 26.3827C81.5511 26.3827 81.8429 26.2369 82.018 25.9742V26.3243H82.6309V24.9235V24.9235ZM80.3545 24.9235C80.3545 24.4274 80.6755 24.0188 81.2008 24.0188C81.697 24.0188 82.0473 24.3983 82.0473 24.9235C82.0473 25.4197 81.697 25.8282 81.2008 25.8282C80.6755 25.7989 80.3545 25.4197 80.3545 24.9235V24.9235Z" fill="black"/>
						<path d="M85.4034 2.24715H94.5965V18.7656H85.4034V2.24715Z" fill="#FF5F00"/>
						<path d="M85.9872 10.5064C85.9872 7.15025 87.5631 4.17337 89.9853 2.24715C88.2052 0.846321 85.958 0 83.5066 0C77.6986 0 73 4.69863 73 10.5064C73 16.3141 77.6986 21.0128 83.5064 21.0128C85.9579 21.0128 88.2051 20.1665 89.9853 18.7656C87.5631 16.8686 85.9872 13.8626 85.9872 10.5064V10.5064Z" fill="#EB001B"/>
						<path d="M107 10.5064C107 16.3141 102.301 21.0128 96.4935 21.0128C94.042 21.0128 91.7948 20.1665 90.0146 18.7656C92.4661 16.8395 94.0129 13.8626 94.0129 10.5064C94.0129 7.15025 92.4368 4.17337 90.0146 2.24715C91.7947 0.846321 94.042 0 96.4935 0C102.301 0 107 4.72788 107 10.5064H107Z" fill="#F79E1B"/>
						<path d="M120 0H146.933V14.5392L145.6 16.6222L146.933 18.476V26.933H120V13.2269L120.833 12.2688L120 11.3522V0Z" fill="#016FD0"/>
						<path d="M125.228 18.7677V14.5392H129.705L130.186 15.1654L130.682 14.5392H146.933V18.4761C146.933 18.4761 146.508 18.7634 146.016 18.7677H137.018L136.476 18.1011V18.7677H134.702V17.6298C134.702 17.6298 134.459 17.7887 133.935 17.7887H133.331V18.7677H130.644L130.164 18.128L129.677 18.7677H125.228Z" fill="white"/>
						<path d="M120 11.3522L121.01 8.99848H122.756L123.329 10.317V8.99848H125.499L125.84 9.95144L126.171 8.99848H135.914V9.47757C135.914 9.47757 136.426 8.99848 137.268 8.99848L140.429 9.00953L140.992 10.3108V8.99848H142.809L143.309 9.74593V8.99848H145.142V13.2269H143.309L142.829 12.4771V13.2269H140.161L139.892 12.5604H139.175L138.911 13.2269H137.101C136.377 13.2269 135.914 12.7576 135.914 12.7576V13.2269H133.185L132.644 12.5604V13.2269H122.497L122.229 12.5604H121.514L121.247 13.2269H120V11.3522Z" fill="white"/>
						<path d="M121.367 9.51976L120.005 12.6859H120.892L121.143 12.0519H122.604L122.854 12.6859H123.76L122.399 9.51976H121.367ZM121.871 10.2566L122.316 11.3645H121.424L121.871 10.2566V10.2566Z" fill="#016FD0"/>
						<path d="M123.854 12.6854V9.51923L125.113 9.52391L125.846 11.5652L126.561 9.51923H127.811V12.6854H127.02V10.3524L126.181 12.6854H125.486L124.645 10.3524V12.6854H123.854Z" fill="#016FD0"/>
						<path d="M128.353 12.6854V9.51923H130.936V10.2274H129.153V10.769H130.894V11.4356H129.153V11.998H130.936V12.6854H128.353Z" fill="#016FD0"/>
						<path d="M131.394 9.51976V12.6859H132.185V11.5611H132.519L133.468 12.6859H134.435L133.394 11.5194C133.821 11.4834 134.262 11.1165 134.262 10.5469C134.262 9.88067 133.739 9.51976 133.155 9.51976H131.394V9.51976ZM132.185 10.228H133.09C133.307 10.228 133.465 10.3978 133.465 10.5613C133.465 10.7716 133.261 10.8945 133.102 10.8945H132.185V10.228V10.228Z" fill="#016FD0"/>
						<path d="M135.393 12.6854H134.585V9.51923H135.393V12.6854Z" fill="#016FD0"/>
						<path d="M137.31 12.6854H137.135C136.291 12.6854 135.779 12.0204 135.779 11.1153C135.779 10.1879 136.285 9.51923 137.351 9.51923H138.226V10.2691H137.319C136.887 10.2691 136.581 10.6068 136.581 11.1231C136.581 11.7363 136.93 11.9938 137.435 11.9938H137.643L137.31 12.6854Z" fill="#016FD0"/>
						<path d="M139.032 9.51976L137.67 12.6859H138.557L138.808 12.0519H140.269L140.519 12.6859H141.425L140.064 9.51976H139.032ZM139.536 10.2566L139.981 11.3645H139.089L139.536 10.2566Z" fill="#016FD0"/>
						<path d="M141.517 12.6854V9.51923H142.524L143.808 11.5085V9.51923H144.6V12.6854H143.626L142.309 10.644V12.6854H141.517Z" fill="#016FD0"/>
						<path d="M125.77 18.2261V15.06H128.353V15.7682H126.57V16.3098H128.311V16.9763H126.57V17.5387H128.353V18.2261H125.77Z" fill="#016FD0"/>
						<path d="M138.426 18.2261V15.06H141.009V15.7682H139.226V16.3098H140.959V16.9763H139.226V17.5387H141.009V18.2261H138.426Z" fill="#016FD0"/>
						<path d="M128.453 18.2261L129.711 16.6626L128.423 15.06H129.42L130.187 16.0507L130.957 15.06H131.915L130.644 16.643L131.904 18.2261H130.907L130.162 17.251L129.436 18.2261H128.453Z" fill="#016FD0"/>
						<path d="M131.998 15.0605V18.2266H132.81V17.2268H133.644C134.349 17.2268 134.883 16.8528 134.883 16.1254C134.883 15.5229 134.464 15.0605 133.746 15.0605H131.998V15.0605ZM132.81 15.7765H133.688C133.916 15.7765 134.078 15.9161 134.078 16.141C134.078 16.3523 133.916 16.5056 133.685 16.5056H132.81V15.7765Z" fill="#016FD0"/>
						<path d="M135.227 15.06V18.2261H136.018V17.1013H136.351L137.3 18.2261H138.268L137.226 17.0596C137.654 17.0235 138.095 16.6567 138.095 16.0871C138.095 15.4209 137.572 15.06 136.988 15.06H135.227V15.06ZM136.018 15.7682H136.923C137.14 15.7682 137.298 15.938 137.298 16.1015C137.298 16.3118 137.093 16.4347 136.935 16.4347H136.018V15.7682V15.7682Z" fill="#016FD0"/>
						<path d="M141.376 18.2261V17.5387H142.96C143.194 17.5387 143.296 17.412 143.296 17.2731C143.296 17.14 143.194 17.0055 142.96 17.0055H142.244C141.622 17.0055 141.275 16.6264 141.275 16.0572C141.275 15.5495 141.592 15.06 142.517 15.06H144.058L143.725 15.7723H142.392C142.137 15.7723 142.059 15.9061 142.059 16.0338C142.059 16.165 142.156 16.3098 142.35 16.3098H143.1C143.794 16.3098 144.095 16.7032 144.095 17.2184C144.095 17.7724 143.759 18.2261 143.062 18.2261H141.376Z" fill="#016FD0"/>
						<path d="M144.281 18.2261V17.5387H145.865C146.099 17.5387 146.201 17.412 146.201 17.2731C146.201 17.14 146.099 17.0055 145.865 17.0055H145.149C144.527 17.0055 144.18 16.6264 144.18 16.0572C144.18 15.5495 144.497 15.06 145.422 15.06H146.963L146.63 15.7723H145.297C145.042 15.7723 144.964 15.9061 144.964 16.0338C144.964 16.165 145.061 16.3098 145.255 16.3098H146.005C146.699 16.3098 147 16.7032 147 17.2184C147 17.7724 146.665 18.2261 145.968 18.2261H144.281Z" fill="#016FD0"/>
						<path d="M186.913 8.36877H182.486C182.34 8.36868 182.198 8.42094 182.087 8.51612C181.975 8.6113 181.901 8.74316 181.879 8.88793L180.088 20.24C180.08 20.2927 180.083 20.3465 180.098 20.3978C180.112 20.4491 180.138 20.4966 180.172 20.5371C180.207 20.5776 180.25 20.6101 180.299 20.6323C180.347 20.6546 180.4 20.666 180.453 20.666H182.567C182.713 20.666 182.855 20.6137 182.967 20.5184C183.078 20.4231 183.152 20.2911 183.174 20.1462L183.657 17.0843C183.68 16.9396 183.754 16.8076 183.865 16.7123C183.976 16.617 184.118 16.5646 184.265 16.5645H185.666C188.582 16.5645 190.265 15.1534 190.705 12.3569C190.903 11.1335 190.713 10.1722 190.14 9.499C189.511 8.75976 188.395 8.36877 186.913 8.36877V8.36877ZM187.424 12.5149C187.182 14.1034 185.968 14.1034 184.795 14.1034H184.127L184.595 11.1367C184.609 11.0499 184.653 10.9709 184.72 10.9138C184.787 10.8567 184.872 10.8254 184.96 10.8254H185.266C186.065 10.8254 186.82 10.8254 187.209 11.2811C187.442 11.553 187.513 11.9569 187.424 12.5149V12.5149ZM200.147 12.4637H198.027C197.939 12.4637 197.854 12.4951 197.787 12.5522C197.72 12.6093 197.676 12.6883 197.662 12.7751L197.568 13.3681L197.42 13.1531C196.961 12.487 195.938 12.2644 194.916 12.2644C192.574 12.2644 190.573 14.0387 190.183 16.5276C189.98 17.7692 190.268 18.9564 190.973 19.7843C191.619 20.5456 192.543 20.8628 193.643 20.8628C195.531 20.8628 196.577 19.649 196.577 19.649L196.483 20.2381C196.474 20.2908 196.477 20.3446 196.492 20.396C196.506 20.4473 196.532 20.495 196.566 20.5356C196.601 20.5762 196.644 20.6088 196.692 20.6312C196.741 20.6536 196.793 20.6652 196.847 20.6653H198.756C198.903 20.6654 199.045 20.613 199.156 20.5177C199.268 20.4224 199.341 20.2904 199.364 20.1455L200.51 12.8897C200.518 12.8371 200.515 12.7834 200.501 12.7321C200.486 12.6809 200.461 12.6334 200.427 12.5929C200.392 12.5524 200.349 12.5199 200.301 12.4976C200.252 12.4753 200.2 12.4637 200.147 12.4637V12.4637ZM197.192 16.5898C196.987 17.8009 196.026 18.614 194.8 18.614C194.184 18.614 193.692 18.4165 193.376 18.0424C193.063 17.6708 192.944 17.1419 193.044 16.5529C193.235 15.3521 194.212 14.5125 195.419 14.5125C196.021 14.5125 196.511 14.7125 196.833 15.0899C197.156 15.4712 197.284 16.0033 197.192 16.5898V16.5898ZM211.437 12.4637H209.307C209.206 12.4639 209.108 12.4886 209.019 12.5356C208.93 12.5826 208.854 12.6506 208.797 12.7337L205.859 17.0617L204.614 12.9026C204.576 12.7758 204.498 12.6646 204.391 12.5856C204.285 12.5065 204.156 12.4638 204.023 12.4637H201.93C201.871 12.4636 201.813 12.4775 201.761 12.5042C201.709 12.531 201.664 12.5699 201.629 12.6176C201.595 12.6654 201.573 12.7206 201.564 12.7787C201.555 12.8369 201.561 12.8962 201.58 12.9518L203.926 19.838L201.72 22.9523C201.681 23.0075 201.658 23.0725 201.653 23.14C201.648 23.2076 201.662 23.2751 201.693 23.3353C201.724 23.3955 201.771 23.4459 201.829 23.4811C201.887 23.5163 201.954 23.5349 202.021 23.5349H204.149C204.248 23.535 204.346 23.5111 204.434 23.4651C204.522 23.4191 204.598 23.3524 204.655 23.2708L211.74 13.0431C211.779 12.9878 211.801 12.923 211.805 12.8557C211.81 12.7885 211.795 12.7214 211.764 12.6617C211.733 12.6021 211.686 12.552 211.628 12.5171C211.571 12.4822 211.505 12.4638 211.437 12.4637V12.4637Z" fill="#253B80"/>
						<path d="M218.49 8.36879H214.063C213.916 8.36885 213.775 8.42117 213.663 8.51634C213.552 8.61151 213.478 8.74328 213.456 8.88794L211.665 20.24C211.657 20.2926 211.66 20.3464 211.674 20.3976C211.689 20.4489 211.714 20.4964 211.749 20.5369C211.783 20.5774 211.826 20.6099 211.875 20.6322C211.923 20.6544 211.976 20.666 212.029 20.666H214.301C214.403 20.6658 214.503 20.6291 214.58 20.5624C214.658 20.4957 214.71 20.4035 214.726 20.3022L215.234 17.0843C215.256 16.9396 215.33 16.8076 215.441 16.7123C215.553 16.617 215.694 16.5646 215.841 16.5645H217.242C220.159 16.5645 221.841 15.1534 222.281 12.3569C222.48 11.1335 222.289 10.1722 221.716 9.49901C221.087 8.75977 219.972 8.36879 218.49 8.36879V8.36879ZM219.001 12.5149C218.76 14.1034 217.546 14.1034 216.372 14.1034H215.704L216.174 11.1367C216.187 11.0499 216.231 10.9708 216.298 10.9137C216.365 10.8566 216.45 10.8253 216.537 10.8254H216.844C217.642 10.8254 218.397 10.8254 218.787 11.2811C219.019 11.553 219.09 11.9569 219.001 12.5149V12.5149ZM231.723 12.4638H229.604C229.516 12.4635 229.431 12.4948 229.365 12.5519C229.298 12.6091 229.254 12.6883 229.241 12.7751L229.147 13.3681L228.998 13.1532C228.539 12.4871 227.516 12.2644 226.495 12.2644C224.152 12.2644 222.152 14.0387 221.762 16.5276C221.56 17.7692 221.847 18.9564 222.551 19.7843C223.198 20.5456 224.121 20.8628 225.221 20.8628C227.109 20.8628 228.156 19.649 228.156 19.649L228.061 20.2381C228.053 20.2909 228.056 20.3449 228.07 20.3963C228.085 20.4477 228.11 20.4954 228.145 20.5361C228.18 20.5767 228.223 20.6093 228.271 20.6316C228.32 20.6539 228.373 20.6654 228.426 20.6653H230.335C230.482 20.6653 230.623 20.6128 230.735 20.5175C230.846 20.4222 230.92 20.2903 230.942 20.1455L232.089 12.8897C232.097 12.837 232.093 12.7831 232.079 12.7318C232.064 12.6806 232.039 12.633 232.004 12.5926C231.969 12.5521 231.926 12.5196 231.878 12.4974C231.829 12.4752 231.776 12.4637 231.723 12.4638V12.4638ZM228.768 16.5898C228.565 17.8009 227.602 18.614 226.376 18.614C225.762 18.614 225.269 18.4165 224.953 18.0424C224.639 17.6708 224.522 17.142 224.62 16.5529C224.812 15.3521 225.788 14.5125 226.996 14.5125C227.598 14.5125 228.087 14.7126 228.409 15.0899C228.734 15.4712 228.862 16.0033 228.768 16.5898V16.5898ZM234.222 8.68015L232.405 20.24C232.397 20.2926 232.4 20.3464 232.415 20.3976C232.429 20.4489 232.454 20.4964 232.489 20.5369C232.524 20.5774 232.567 20.6099 232.615 20.6322C232.663 20.6544 232.716 20.666 232.769 20.666H234.596C234.899 20.666 235.157 20.4459 235.204 20.1462L236.995 8.79473C237.004 8.74211 237.001 8.68831 236.986 8.63704C236.972 8.58576 236.946 8.53823 236.912 8.49769C236.877 8.45716 236.834 8.42459 236.786 8.40223C236.738 8.37986 236.685 8.36824 236.632 8.36814H234.586C234.498 8.36845 234.413 8.40002 234.347 8.45719C234.28 8.51436 234.236 8.5934 234.222 8.68015Z" fill="#179BD7"/>
						<path d="M161.703 22.8721L162.042 20.7216L161.288 20.7042H157.687L160.189 4.83634C160.197 4.78786 160.221 4.74367 160.259 4.71182C160.296 4.67998 160.344 4.6626 160.393 4.66286H166.464C168.48 4.66286 169.871 5.08233 170.598 5.91025C170.938 6.29865 171.155 6.70452 171.26 7.15117C171.37 7.61983 171.372 8.17977 171.264 8.86269L171.257 8.91254V9.35013L171.597 9.54303C171.857 9.67472 172.091 9.85286 172.286 10.0687C172.578 10.4007 172.766 10.8228 172.846 11.3232C172.928 11.8378 172.901 12.4502 172.766 13.1434C172.611 13.9409 172.36 14.6355 172.02 15.2039C171.721 15.713 171.319 16.154 170.839 16.4985C170.389 16.8183 169.853 17.061 169.248 17.2164C168.661 17.3692 167.993 17.4462 167.259 17.4462H166.787C166.449 17.4462 166.121 17.5679 165.863 17.786C165.606 18.0065 165.435 18.3111 165.381 18.6457L165.346 18.8392L164.748 22.6293L164.721 22.7685C164.713 22.8125 164.701 22.8345 164.683 22.8494C164.665 22.8638 164.644 22.8717 164.621 22.8721H161.703Z" fill="#253B80"/>
						<path d="M171.919 8.96302C171.901 9.07889 171.881 9.19735 171.857 9.31905C171.056 13.4302 168.317 14.8504 164.818 14.8504H163.037C162.609 14.8504 162.248 15.1611 162.182 15.5832L161.27 21.3677L161.011 23.0073C161.001 23.0724 161.005 23.1389 161.023 23.2023C161.041 23.2656 161.072 23.3244 161.115 23.3745C161.158 23.4245 161.211 23.4647 161.271 23.4923C161.33 23.5199 161.395 23.5342 161.461 23.5343H164.621C164.995 23.5343 165.313 23.2624 165.372 22.8934L165.403 22.7329L165.998 18.9577L166.036 18.7505C166.094 18.3803 166.413 18.1084 166.787 18.1084H167.259C170.32 18.1084 172.717 16.8655 173.417 13.269C173.71 11.7666 173.558 10.5121 172.784 9.62976C172.539 9.35683 172.246 9.13089 171.919 8.96302V8.96302Z" fill="#179BD7"/>
						<path d="M171.082 8.629C170.826 8.55504 170.566 8.49731 170.303 8.45617C169.783 8.37632 169.258 8.338 168.733 8.34159H163.973C163.792 8.34145 163.617 8.40611 163.48 8.52388C163.342 8.64166 163.251 8.80477 163.223 8.98374L162.211 15.3961L162.182 15.5832C162.213 15.3791 162.317 15.193 162.474 15.0586C162.63 14.9242 162.83 14.8503 163.037 14.8504H164.818C168.317 14.8504 171.056 13.4296 171.857 9.31905C171.881 9.19735 171.901 9.07889 171.919 8.96302C171.708 8.85222 171.488 8.75933 171.261 8.68532C171.202 8.66559 171.142 8.64682 171.082 8.629V8.629Z" fill="#222D65"/>
						<path d="M163.223 8.98374C163.251 8.80472 163.342 8.64153 163.479 8.52382C163.617 8.40611 163.792 8.34168 163.974 8.34224H168.733C169.296 8.34224 169.823 8.37914 170.303 8.45682C170.628 8.5079 170.949 8.5843 171.262 8.68532C171.498 8.76365 171.717 8.85622 171.92 8.96303C172.158 7.44376 171.918 6.40934 171.097 5.47266C170.191 4.44147 168.557 4 166.465 4H160.393C159.966 4 159.602 4.31072 159.536 4.73342L157.006 20.7644C156.995 20.8388 156.999 20.9149 157.02 20.9874C157.04 21.06 157.076 21.1272 157.125 21.1845C157.174 21.2419 157.234 21.2879 157.303 21.3195C157.371 21.3512 157.446 21.3676 157.521 21.3677H161.27L162.211 15.3961L163.223 8.98374V8.98374Z" fill="#253B80"/>
						<defs>
							<linearGradient id="paint0_linear" x1="29.4234" y1="24.3356" x2="30.0361" y2="2.85495" gradientUnits="userSpaceOnUse">
								<stop stop-color="#222357"/>
								<stop offset="1" stop-color="#254AA5"/>
							</linearGradient>
						</defs>
					</svg>

				</div>
				<div class="testi">
					<div class="figure">
						<img src="{{ section.settings.testi_img | img_url:'master'  }}" alt="image">
					</div>
					<div class="content">
						<p>{{ section.settings.testi_text }}</p>
						<h4>{{ section.settings.testi_name }}</h4>
						<div class="stars"><img src="{{ section.settings.testi_stars | img_url:'master'  }}" alt="image"></div>
					</div>
				</div>
              	
              	<div class="mob-testi">
                  <div class="figure" align="center">
						<img src="{{ section.settings.testi_img | img_url:'master'  }}" alt="image">
					</div>
                  <div><strong>{{ section.settings.testi_name }}</strong> {{ section.settings.testi_text }}</div>
              	</div>
              
			</div>
		</div>
	</div>
</div>

{% schema %}
  {
    "name": "Sales Hero",
    "settings": [
  {
   	"type": "text",
  	"id":"tag_line",
	"label":"Tagline"
  },
  {
   	"type": "text",
  	"id":"heading",
	"label":"Heading"
  },
  {
   	"type": "text",
  	"id":"price_was",
	"label":"Price was"
  },
  {
   	"type": "text",
  	"id":"price_now",
	"label":"Price now"
  },
  {
   	"type": "text",
  	"id":"save",
	"label":"Save"
  },
  {
   	"type": "text",
  	"id":"list_text",
	"label":"List Text"
  },
  {
   	"type": "text",
  	"id":"testi_name",
	"label":"Testimonial Name"
  },
  {
   	"type": "textarea",
  	"id":"testi_text",
	"label":"Testimonial text"
  },
  {
   	"type": "image_picker",
  	"id":"testi_img",
	"label":"Testimonial image"
  },
  {
   	"type": "image_picker",
  	"id":"testi_stars",
	"label":"Testimonial Stars"
  }
],

    "blocks":[
      {
        "type": "block-1",
        "name": "Slider Images",
        "settings": [
          {
            "type": "image_picker",
            "id": "slide_img",
            "label": "Slider Image"
          }
        ]
      },
      {
        "type": "block-2",
        "name": "List Points",
        "settings": [
          {
            "type": "text",
            "id": "list",
            "label": "Lists"
          }
        ]
      }
    ]
  
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
