{% if section.settings.show_section %}
<style>
  .social--{{ section.id }} { background-color: {{ section.settings.bg_color }}; }
  {% assign accent_image_pos = section.settings.accent_image_position | split: '-' %}
  {% if accent_image_pos[0] == 'top' %}
    .social--{{ section.id }} .social__accent-image { top: {{ section.settings.accent_image_offset }};}
  {% endif %}
  {% if accent_image_pos[0] == 'bottom' %}
    .social--{{ section.id }} .social__accent-image { bottom: {{ section.settings.accent_image_offset }};}
  {% endif %}
  {% if accent_image_pos[1] == 'left' %}
  .social--{{ section.id }} .social__accent-image { left: 0; }
  {% endif %}
  {% if accent_image_pos[1] == 'right' %}
  .social--{{ section.id }} .social__accent-image { right: 0; }
  {% endif %}
</style>
<section class="section section--social social {{ section.settings.padding }} social--{{ section.id }} lazy" {% if section.settings.bg_image != blank %}data-bg="{{ section.settings.bg_image | img_url: '3000x' }}"{% endif %}  {{ section.shopify_attributes }} >
  <div class="section__header">
    <h2>{{ section.settings.title }}</h2>
    <p class="h4">{{ section.settings.subheading }}</p>
    {% if section.settings.header_accent_image %}
      <img class="accent-image lazy" data-src="{{ section.settings.header_accent_image | img_url: '160x' }}" alt="{{ section.settings.header_accent_image.alt }}" />
    {% endif %}
  </div>
  <div class="socials section__content container">
    <div class="swiper-container">
      <div class="swiper-wrapper">
        {% for block in section.blocks %}
          <div class="social__item swiper-slide social__item--{{ block.id }}" data-index="{{ forloop.index0 }}" {{ block.shopify_attributes }}>
            <img class="lazy" data-src="{{ block.settings.image | img_url: '1000x' }}" alt="{{ block.settings.title }}" />
          </div>
        {% endfor %}
      </div>
      <div class="swiper__button swiper__button--next swiper__button-next--{{ section.id }}{% if desktop_no_sliding == true %} swiper-button--mobile-only{% endif %}">{% include 'icon', handle: 'next' %}</div>
      <div class="swiper__button swiper__button--prev swiper__button-prev--{{ section.id }}{% if desktop_no_sliding == true %} swiper-button--mobile-only{% endif %}">{% include 'icon', handle: 'prev' %}</div>
    </div>
  </div>

  <div class="social__action">
    {%- if section.settings.button_text != blank -%}
      <a class="{{ section.settings.button_style }}" href="{{ section.settings.button_url }}">{{ section.settings.button_text }}</a>
    {%- endif -%}
    {%- if section.settings.button_text_2 != blank -%}
      <a class="{{ section.settings.button_style }}" href="{{ section.settings.button_url_2 }}">{{ section.settings.button_text_2 }}</a>
    {%- endif -%}
  </div>

  {% if section.settings.accent_image != blank %}
    <img class="lazy social__accent-image" data-src="{{ section.settings.accent_image | img_url: '1000x' }}" alt="{% if section.settings.accent_image.alt != blank %}{{ section.settings.accent_image.alt }}{% else %}{{ section.settings.title }}{% endif %}" />
  {% endif %}

  <script>
    var swiper_{{ section.id }},
      swiper_{{ section.id }}_options = {
        effect: 'slide',
        loop: true,
        centeredSlides: true,
        slidesPerView: 1.4,
        spaceBetween: 48,
        threshold: 10,
        navigation: {
          nextEl: '.swiper__button-next--{{ section.id }}',
          prevEl: '.swiper__button-prev--{{ section.id }}',
        },
        breakpoints: {
          960: {
            slidesPerView: 3,
          }
        }
      };

    document.addEventListener('DOMContentLoaded', function() {
      swiper_{{ section.id }} = new Swiper('.social--{{ section.id }} .swiper-container', swiper_{{ section.id }}_options)
    });

    document.addEventListener('shopify:block:select', function(e) {
      var targetSlide = $('.social__item--' + e.detail.blockId);
      swiper_{{ section.id }}.slideToLoop( targetSlide.data('index') );
    });
  </script>
</section>
{% endif %}

{% schema %}
{
  "name": "Social",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_section",
      "label": "Show Section?",
      "default": true
    },
    {
      "type":"header",
      "content":"Design Settings"
    },

    {
      "type":"color",
      "id":"bg_color",
      "label":"Container Background Color",
      "default":"#fff"
    },
    {
      "type":"color",
      "id":"text_color",
      "label":"Text Color",
      "default":"#252525"
    },
    {
      "type":"select",
      "id":"button_style",
      "label":"Button Style",
      "options":[
        {"label":"Red","value":"btn"},
        {"label":"Blue","value":"btn btn--alt"},
        {"label":"Text Only","value":"btn btn--no-style"}
      ]
    },
    {
      "type":"select",
      "id":"accent_image_position",
      "label":"Accent Image Position",
      "options":[
        {"label":"Top Left","value":"top-left"},
        {"label":"Top Right","value":"top-right"},
        {"label":"Bottom Left","value":"bottom-left"},
        {"label":"Bottom Right","value":"bottom-right"}
      ]
    },
    {
      "type":"text",
      "id":"accent_image_offset",
      "label":"Accent Image Offset",
      "info":"Value in px to pull offset. Ex: '-20px'"
    },
    {
      "type":"header",
      "content":"Content Settings"
    },
    {
      "type":"image_picker",
      "id":"bg_image",
      "label":"Background Image"
    },
    {
      "type":"text",
      "id":"title",
      "label":"Heading"
    },
    {
      "type":"text",
      "id":"subheading",
      "label":"Sub Heading"
    },
    {
      "type":"text",
      "id":"button_text",
      "label":"Button Text",
      "info":"Leave blank to hide"
    },
    {
      "type":"url",
      "id":"button_url",
      "label":"Button URL"
    },
    {
      "type":"text",
      "id":"button_text_2",
      "label":"Button 2 Text",
      "info":"Leave blank to hide"
    },
    {
      "type":"url",
      "id":"button_url_2",
      "label":"Button 2 URL"
    },
    {
      "type":"image_picker",
      "id":"accent_image",
      "label":"Accent Image"
    },
    {
      "type":"image_picker",
      "id":"header_accent_image",
      "label":"Header Accent Image"
    }
  ],
  "blocks":[
    {
      "type":"social_item",
      "name":"Social item",
      "settings":[
        {
          "type":"image_picker",
          "id":"image",
          "label":"Image"
        }
      ]
    }
  ],
  "presets": [{
    "name": "Social",
    "category": "Content"
  }]
}
{% endschema %}

