{% layout none %}
<!doctype html>
<!--[if IE 9]> <html class="ie9 no-js" lang="{{ shop.locale }}"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html class="no-js" lang="{{ shop.locale }}">
<!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="#000">
  <link rel="canonical" href="{{ canonical_url }}">
  <title>{{ shop.name }}</title>
  {% if page_description %}
    <meta name="description" content="{{ page_description | escape }}">
  {% endif %}

  {% include 'head-meta' %}
  {% include 'head-css' %}
  {% include 'head-scripts' %}

  {{ content_for_header }}

  <style>
  .template-password {
    min-height: 100vh;
    background: #fff;
  }

  #login-wrapper {
    background: #f9f9f9;
    width: 100%;
    max-width: 500px;
    position: absolute;
    top: 35%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  #login-logo {
    display: block;
    width: 200px;
    max-width: 100%;
    margin: 0 auto 2rem auto;
  }

  #login-logo img {
    width: 100%;
    max-width: 200px;
    display: block;
    height: auto;
  }

  #login-form {
    background: #fbfbfb;
    padding: 3em 2em;
    position: relative;
    margin: 0 auto;
    width: 100%;
  }

  #login-form label {
    display: inline-block;
    width: 100px;
  }

  #login-form input {
    display: inline-block;
    width: calc(100% - 110px);
    max-width: none;
  }

  #login-form button {
    width: 100%;
    max-width: none;
    margin: 1em 0 0;
  }

  #login-message {
    width: 100%;
    padding: 0 0 1em;
    margin: 0 0 1em;
  }
  </style>
</head>

<body class="template-password">
  <div id="login-wrapper">
    <header role="banner">
      <a id="login-logo" itemscope itemtype="http://schema.org/Organization" title="{{ shop.name }}">
        <img src="{{ 'logo.png' | asset_img_url: '300x300' }}" alt="{{ shop.name }}" />
      </a>
    </header>
    <main role="main" id="login-main">
      <div id="login-form">
        {% unless shop.password_message == blank %}
        <p id="login-message">{{ shop.password_message }}</p>
        {% endunless %} {% form 'storefront_password' %} {{ form.errors | default_errors }}
        <label for="password">Password</label>
        <input type="password" name="password" id="Password" placeholder="enter password to access">
        <button type="submit" name="commit" class="btn btn--block">Submit</button>
        {% endform %}
      </div>
    </main>
  </div>
</body>

</html>
